<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mod_id %><br>
    <%= f.number_field :mod_id %>
  </div>
  <div class="field">
    <%= f.label :date_open %><br>
    <%= f.datetime_select :date_open %>
  </div>
  <div class="field">
    <%= f.label :date_closed %><br>
    <%= f.datetime_select :date_closed %>
  </div>
  <div class="field">
    <%= f.label :moderation_type %><br>
    <%= f.number_field :moderation_type %>
  </div>
  <div class="field">
    <%= f.label :challenge_description %><br>
    <%= f.text_field :challenge_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
