<h1>Welcome</h1>



<%= form_tag(search_works_path, :method => 'get') do %>
	<div class="row">
  		<div class="col-md-8"><%= text_field_tag :search_term, nil, :placeholder => 'Search '+@count.to_s+' works', :class => 'form-control' %></div>
  		<div class="col-md-4"><%= submit_tag "Search",  :class => 'btn btn-primary'%></div>
  	</div>
  	<div class="row">
  		<div class="col-md-2"><h4>Work type:</h4></div>
  		<div class="col-md-6">
  			<h4><select id="work_type" name="work_type">
			    <%= options_for_select(@work_types) %> 
			</select></h4>
		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-2"><h4>Tag type:</h4></div>
  		<div class="col-md-6">
  			<h4><select id="tag_type" name="tag_type">
			    <%= options_for_select([[TagConfig.config["0"]["friendly"], 0], [TagConfig.config["1"]["friendly"], 1], [TagConfig.config["2"]["friendly"], 2], [TagConfig.config["3"]["friendly"], 3], [TagConfig.config["4"]["friendly"], 4], [TagConfig.config["5"]["friendly"], 5], ["All", "All"]]) %>
			</select></h4>
  		</div>
  	</div>
<% end %>
