<%= form_for(@work_tag) do |f| %>
  <% if @work_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_tag.errors.count, "error") %> prohibited this work_tag from being saved:</h2>

      <ul>
      <% @work_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.number_field :tag_id %>
  </div>
  <div class="field">
    <%= f.label :work_id %><br>
    <%= f.number_field :work_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
