<p id="notice"><%= notice %></p>

<p>
  <strong>Bookmark:</strong>
  <%= @bookmark_bookmark_tag.bookmark_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bookmark_bookmark_tag.user_id %>
</p>

<%= link_to 'Edit', edit_bookmark_bookmark_tag_path(@bookmark_bookmark_tag) %> |
<%= link_to 'Back', bookmark_bookmark_tags_path %>
