  <div class="field">
    <%= label_tag :chapter_summary %><br>
    <%= text_area_tag 'summaries[]', edit_chapter.chapter_summary, class: "form-control", rows: "4" %>
  </div>
  <div class="field">
    <%= label_tag 'Chapter Number' %><br>
    <%= label_tag edit_chapter.chapter_number, edit_chapter.chapter_number, class: 'chapter-number' %> - <%= link_to 'Reorder', reorder_work_chapters_work_url, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}%>
  </div>
  <div class="field">
    <%= label_tag :body_text, "Chapter text" %><br>
    <%= text_area_tag 'body_texts[]', edit_chapter.body_text, class: "form-control" %>
  </div>
  <div class="field">
    <%= label_tag :body_audio, "Chapter audio" %><br>
    <% if edit_chapter.body_audio? %>
      <%= link_to 'Download Audio', edit_chapter.body_audio.url, :class => "play" %><br>
    <% end %>
    <%= file_field_tag 'body_audios[]' %>
  </div>
  <%= hidden_field_tag 'body_numbers[]'%>
  <div class="field">
    <%= label_tag :body_image, "Chapter image" %><br>
    <% if edit_chapter.body_image? %>
      <%= image_tag nil, edit_chapter.body_image %>
    <% end %>
    <%= file_field_tag 'body_images[]'%>
  </div>
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <%= render :partial => "works/reorder_work_chapters" %>
 </div>