<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_summary %><br>
    <%= f.text_area :work_summary %>
  </div>
  <div class="field">
    <%= f.label :is_series %><br>
    <%= f.check_box :is_series %>
  </div>
  <div class="field">
    <%= f.label :is_complete %><br>
    <%= f.check_box :is_complete %>
  </div>
  <div class="field">
    <%= f.label :series_id %><br>
    <%= f.number_field :series_id %>
  </div>
  <div class="field">
    <%= f.label :collection_id %><br>
    <%= f.number_field :collection_id %>
  </div>
  <div class="field">
    <%= f.label :word_count %><br>
    <%= f.number_field :word_count %>
  </div>
  <div class="field">
    <%= f.label :total_chapters %><br>
    <%= f.number_field :total_chapters %>
  </div>
  <%= fields_for @chapter, f do |c| %>
      <%= c.label :body_text %><br>
      <%= c.text_area :body_text %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
