<%= form_for @work_creation_form, url: works_path do |f| %>
  <% if @work_creation_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_creation_form.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work_creation_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Please choose a type of work to post:
    <%= f.select(:work_type, WorkType.all.collect {|t| [ t.type_name, t.type_key ] }, :selected => f.object.work_type) %>
  </div>
  <div id="1_form" style="display:none;">
    <div class="field">
      <%= f.label :work_title %><br>
      <%= f.text_area :work_title %>
    </div>
    <div class="field">
      <%= f.label :work_summary %><br>
      <%= f.text_area :work_summary %>
    </div>
    <div class="field" style="display:none;" id="series_id">
      <%= f.label :series_id %><br>
      <%= f.number_field :series_id %>
    </div>
    <div class="field">
      <%= f.check_box :is_series, :id => 'is_series' %> <%= f.label :is_series, "Series?" %>
    </div>
    <div class="field" style="display:none;" id="series_id">
      <%= f.label :series_id %><br>
      <%= f.number_field :series_id %>
    </div>
    <div class="field">
      <%= f.check_box :is_complete %> <%= f.label :is_complete, "Complete?" %>
    </div>
    <div class="field">
      <label>
        <input id="in_collection" type="checkbox" value="1" />
          Add to collection?
      </label>
    </div>
    <div class="field" id="collection_id">
      <%= f.label :collection_id %><br>
      <%= f.number_field :collection_id %>
    </div>
    <div class="field">
      <%= f.label :word_count %><br>
      <%= f.number_field :word_count %>
    </div>
    <div class="field">
      <label>
        <input id="multi_chapter" type="checkbox" value="1" />
          Multi-chapter?
      </label>
    </div>
    <div style="display:none;" class="field" id="chapter_count">
        <%= f.label :total_chapters %><br>
        <%= f.number_field :total_chapters %>
    </div>
    <div class="field" id="work_textbox">
      <%= f.label :body_text, "Work text"%><br>
      <%= f.text_area :body_text %>
    </div>
    <div class="field" style="display:none;" id="chapter_textbox">
      <%= f.label :body_text, "Chapter text" %><br>
      <%= f.text_area :body_text %>
    </div>
    <div class="field" id="1_tags_div">
      <%= f.label TagConfig.config["1"]["friendly"] %><br>
      <ul id="1_tags_list" class="tag_ul">
        <li class="new_li"><input type="text" class="new_textBox" id="1_tags_filter"/>
      </ul>
      <%= f.hidden_field :one_tags, :id => '1_tags_hidden' %>
    </div>
    <div class="field" id="4_tags_div">
      <%= f.label TagConfig.config["4"]["friendly"] %><br>
      <ul id="4_tags_list" class="tag_ul">
        <li class="new_li"><input type="text" class="new_textBox" id="4_tags_filter"/>
      </ul>
      <%= f.hidden_field :four_tags, :id => '4_tags_hidden' %>
    </div>
    <div class="field" id="0_tags_div">
      <%= f.label TagConfig.config["0"]["friendly"] %><br>
      <ul id="0_tags_list" class="tag_ul">
          <li class="new_li"><input type="text" class="new_textBox" id ="0_tags_filter"></li>
      </ul> 
	<%= f.hidden_field :zero_tags, :id => '0_tags_hidden' %>
    </div>
    <div class="field" id="2_tags_div">
      <%= f.label TagConfig.config["2"]["friendly"] %><br>
      <ul id="2_tags_list" class="tag_ul">
        <li class="new_li"><input type="text" class="new_textBox" id="2_tags_filter"/>
      </ul>
      <%= f.hidden_field :two_tags, :id => '2_tags_hidden' %>
    </div>
    <div class="field" id="3_tags_div">
      <%= f.label TagConfig.config["3"]["friendly"] %><br>
      <ul id="3_tags_list" class="tag_ul">
        <li class="new_li"><input type="text" class="new_textBox" id="3_tags_filter"/>
      </ul>
      <%= f.hidden_field :three_tags, :id => '3_tags_hidden' %> 
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <div class="actions" id="multi_chapter_buttons" style="display:none;">
      HELLO
    </div>
  </div>
  
<% end %>
