<%= form_for @work_creation_form, url: works_path do |f| %>
  <% if @work_creation_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_creation_form.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work_creation_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Please choose a type of work to post:
    <%= f.select(:work_type, WorkType.all.collect {|t| [ t.type_name, t.type_key ] }, :selected => f.object.work_type) %>
    <%= f.hidden_field :work_id %>
  </div>
  <div id="1_form">
    <div class="form-group">
      <%= f.label :work_title %><br>
      <%= f.text_field :work_title, :class=>"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :work_summary %><br>
      <%= f.text_area :work_summary, :class=>"form-control", :rows=>"4" %>
    </div>
    <div class="field" style="display:none;">
      <%= f.check_box :is_series, :id => 'is_series' %> <%= f.label :is_series, "Series?" %>
    </div>
    <div class="field" style="display:none;" id="series_id">
      <%= f.label :series_id %><br>
      <%= f.number_field :series_id %>
    </div>
    <div class="form-group">
      <%= f.check_box :is_complete %> <%= f.label :is_complete, "Complete?" %>
    </div>
    <div class="field" style="display:none;">
      <label>
        <input id="in_collection" type="checkbox" value="1" />
          Add to collection?
      </label>
    </div>
    <div class="field" style="display:none;" id="collection_id">
      <%= f.label :collection_id %><br>
      <%= f.number_field :collection_id %>
    </div>
    <% if !@is_edit%>
      <div class="form-group" id="work_textbox">
        <div style="display:none;" id="chapter_text_label">
          <%= f.label :body_text, "Chapter text" %><br>
        </div>
        <div id="work_text_label">
          <%= f.label :body_text, "Work text"%><br>
        </div>
        <div style="display:none;" id="chapter_external_label">
          <%= f.label "Chapter URL"%><br>
        </div>
        <div id="work_external_label">
          <%= f.label "Work URL"%><br>
        </div>
        <%= f.text_area :body_text, :class=>"form-control", :rows=>"20", :id=>"body_text_field" %>
        <%= f.text_field :body_external, :class=>"form-control", :id=>"body_external_field", :style=>"display:none;" %>
      </div>
      <div class="field">
        <ul id="new_chapters" class="chapters_ul">
        </ul>
      </div>
      <%= link_to 'Add Chapter', new_chapter_on_work_work_url(:work_id), remote: true, :id => 'add_chapter_link' %>
    <%else%>
      <%= render :partial => "works/show_chapter", :collection => @chapters %>
    <%end%>
    <%= f.hidden_field :tags_to_remove, :id => 'tags_to_remove' %>
    <div class="field" id="1_tags_div">
      <%= f.label TagConfig.config["1"]["friendly"] %><br>
      <ul id="1_tags_list" class="tag_ul">
        <% if @one_tags_list %>
          <% @one_tags_list.each do |i| %>
  	    <li class="tag_li" id=<%= i.id %>><%= i.text %><a class="close_icon_link" onclick="removetag(event)"><span class="close_icon">x</span></a></li>
	  <% end %>
        <% end %>
        <li class="new_li"><input type="text" class="new_textBox" id="1_tags_filter"/>
      </ul>
      <%= f.hidden_field :one_tags, :id => '1_tags_hidden' %>
    </div>
    <div class="field" id="4_tags_div">
      <%= f.label TagConfig.config["4"]["friendly"] %><br>
      <ul id="4_tags_list" class="tag_ul">
        <% if @four_tags_list %>
          <% @four_tags_list.each do |i| %>
            <li class="tag_li" id=<%= i.id %>><%= i.text %><a class="close_icon_link" onclick="removetag(event)"><span class="close_icon">x</span></a></li>
          <% end %>
        <% end %>
        <li class="new_li"><input type="text" class="new_textBox" id="4_tags_filter"/>
      </ul>
      <%= f.hidden_field :four_tags, :id => '4_tags_hidden' %>
    </div>
    <div class="field" id="0_tags_div">
      <%= f.label TagConfig.config["0"]["friendly"] %><br>
      <ul id="0_tags_list" class="tag_ul">
        <% if @zero_tags_list %>
          <% @zero_tags_list.each do |i| %>
            <li class="tag_li" id=<%= i.id %>><%= i.text %><a class="close_icon_link" onclick="removetag(event)"><span class="close_icon">x</span></a></li>
          <% end %>
        <% end %>  
        <li class="new_li"><input type="text" class="new_textBox" id ="0_tags_filter"></li>
      </ul> 
	<%= f.hidden_field :zero_tags, :id => '0_tags_hidden' %>
    </div>
    <div class="field" id="2_tags_div">
      <%= f.label TagConfig.config["2"]["friendly"] %><br>
      <ul id="2_tags_list" class="tag_ul">
        <% if @two_tags_list %>
          <% @two_tags_list.each do |i| %>
            <li class="tag_li" id=<%= i.id %>><%= i.text %><a class="close_icon_link" onclick="removetag(event)"><span class="close_icon">x</span></a></li>
          <% end %>
        <% end %>
        <li class="new_li"><input type="text" class="new_textBox" id="2_tags_filter"/>
      </ul>
      <%= f.hidden_field :two_tags, :id => '2_tags_hidden' %>
    </div>
    <div class="field" id="3_tags_div">
      <%= f.label TagConfig.config["3"]["friendly"] %><br>
      <ul id="3_tags_list" class="tag_ul">
        <% if @three_tags_list %>
          <% @three_tags_list.each do |i| %>
            <li class="tag_li"id=<%= i.id %>><%= i.text %><a class="close_icon_link" onclick="removetag(event)"><span class="close_icon">x</span></a></li>
          <% end %>
        <% end %>
        <li class="new_li"><input type="text" class="new_textBox" id="3_tags_filter"/>
      </ul>
      <%= f.hidden_field :three_tags, :id => '3_tags_hidden' %> 
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class=>"btn btn-primary" %>
    </div>
    <div class="actions" id="multi_chapter_buttons" style="display:none;">
    </div>
  </div>
  
<% end %>
