<div class="modal-header" style="background-color: white;">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="myModalLabel">Chapters</h3>
</div>
<div class="modal-body" style="background-color: white;">
<div class="row">
   <div class="col-md-4"><%= label_tag 'Chapter Title' %></div>
   <div class="col-md-4"><%= label_tag 'Chapter Summary' %></div>
   <div class="col-md-4"><%= label_tag 'Chapter Number' %></div>
 </div>
<% if @chapters %>
  <% @chapters.each do |chapter| %>
   <div class="row">
     <div class="col-md-4">
       <%= chapter.title %>
     </div>
     <div class="col-md-4">
       <%= chapter.chapter_summary %>
     </div>
     <div class="col-md-4">
       <%= number_field_tag 'body_numbers[]', chapter.chapter_number, class: 'body-numbers'  %>
     </div>
   </div>
  <% end %>
<% end %>
</div>
<div class="modal-footer" style="background-color: white;">
	<button class="btn" data-dismiss="modal" aria-hidden="true" id="save-chapter-nums">Done</button>
	<!--<button class="btn btn-primary" id="save-chapter-nums">Save changes</button>-->
</div>