<div class="row">
  <div class="col-md-6"><%= label_tag 'Chapter title' %></div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= show_chapter.title %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Edit', "#", :class => 'edit_chapter_link', :id => 'show_chapter_'+show_chapter.id.to_s %>
  </div>  
</div>
<br/>
<div style="display:none;" id=<%='edit_partial_'+ show_chapter.id.to_s%>>
	  <div class="field">
    <%= label_tag :chapter_summary %><br>
    <%= text_area_tag 'summaries[]', show_chapter.chapter_summary, class: "form-control", rows: "4" %>
  </div>
  <div class="field">
    <%= label_tag 'Chapter Number' %><br>
    <%= label_tag show_chapter.chapter_number, show_chapter.chapter_number, class: 'chapter-number' %> - <%= link_to 'Reorder', reorder_work_chapters_work_url, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}%>
  </div>
  <div class="field">
    <%= label_tag :body_text, "Chapter text" %><br>
    <%= text_area_tag 'body_texts[]', show_chapter.body_text, class: "form-control" %>
  </div>
  <div class="field">
    <%= label_tag :body_audio, "Chapter audio" %><br>
    <% if show_chapter.body_audio? %>
      <%= link_to 'Download Audio', show_chapter.body_audio.url, :class => "play" %><br><br>
    <% end %>
    <%= file_field_tag 'body_audios[]', :id => 'body_audio_'+show_chapter.id.to_s, class: 'body-audios' %>
    <%= hidden_field_tag 'body_audios_stub[]', '', :id => 'stub_audio_'+show_chapter.id.to_s, class: 'body-audios-stub'  %>
  </div>
  <div class="field">
    <%= label_tag :body_image, "Chapter image" %><br>
    <% if show_chapter.body_image? %>
      <%= image_tag(show_chapter.body_image) %>
    <% end %>
    <%= file_field_tag 'body_images[]', :id => 'body_image_'+show_chapter.id.to_s, class: 'body-images' %><br>
    <%= link_to 'Delete image', delete_chapter_image_work_url(:chapter_id => show_chapter.id) %>
    <%= hidden_field_tag 'body_images_stub[]', '', :id => 'stub_image_'+show_chapter.id.to_s, class: 'body-images-stub'  %>
  </div>

	<br/>
  <br/>
</div>

