<% cache @work do %>
<div class="panel panel-default">
<div class="panel-body">
  <% if current_user %>
    <% if current_user.id == @work.user_id %>
      <div class="row">
        <div class="col-md-3"><%= link_to "Edit", edit_work_path %> | <%= link_to 'Delete', @ork, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-12"><h1><%= @work.title %></h1></div>
  </div>
  <div class="row">
    <div class="col-md-12"><h2><%= @work.user.username %></h2></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12"><h5><%= @work.work_summary %></h5></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-6"><h5>Chapters: <%= @work.chapters.count %></h5></div>
    <div class="col-md-2"><h5>Complete? <% if @work.is_complete %>Yes<% else %>No<%end%></h5></div>
    <div class="col-md-2"><h5>Word Count: <%= @work.word_count %></h5></div>
  </div>
  </div>
  <div class="panel-footer">
  <div class="row">
    <div class="col-md-12"> <ul class="list-inline">
      <li><%= TagConfig.config["0"]["friendly"] %>:</li>
          <% @work.tags.select{|tag| tag.type_key == 0}.each do |t| %>
            <li><%= link_to t.text, tag_path(t.id) %></li>
          <% end %>
        </ul>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-12"><ul class="list-inline">
      <li><%= TagConfig.config["1"]["friendly"] %>:</li>
          <% @work.tags.select{|tag| tag.type_key == 1}.each do |t| %>
            <li><%= link_to t.text, tag_path(t.id)  %></li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><ul class="list-inline">
        <li><%= TagConfig.config["2"]["friendly"] %>:</li>
          <% @work.tags.select{|tag| tag.type_key == 2}.each do |t| %>
            <li><%= link_to t.text, tag_path(t.id)  %></li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><ul class="list-inline">
        <li><%= TagConfig.config["3"]["friendly"] %>:</li>
          <% @work.tags.select{|tag| tag.type_key == 3}.each do |t| %>
            <li><%= link_to t.text, tag_path(t.id)  %></li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><ul class="list-inline">
        <li><%= TagConfig.config["4"]["friendly"] %>:</li>
          <% @work.tags.select{|tag| tag.type_key == 4}.each do |t| %>
            <li><%= link_to t.text, tag_path(t.id)  %></li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><ul class="list-inline">
        <li><%= TagConfig.config["5"]["friendly"] %>:</li>
          <% @work.tags.select{|tag| tag.type_key == 5}.each do |t| %>
            <li><%= link_to t.text, tag_path(t.id)  %></li>
          <% end %>
        </ul>
    </div>
  </div>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-md-12" id="chapter-partial">
      <% if @work.chapters.count > 0 %><%= render :partial => "works/chapter_read", locals: {chapter_number: 1, chapters: @work.chapters} %><% end %>
    </div>
  </div>
  <%= hidden_field_tag 'chapter_number', 1 %>
  <br/>
  <div class="row">
    <div class="col-md-1" id="back-link-div">
      <%= link_to "Back", decrement_chapter_work_path(:chapter_count => @chapter_count), :remote => true, :id => 'back-link',
      :style => 'display: none;' %>
    </div>
    <div class="col-md-1 col-md-offset-10" id="next-link-div">
      <%= link_to "Next", increment_chapter_work_path(:chapter_count => @chapter_count + 1), :remote => true, :id => 'next-link' %>
    </div>
  </div>
</div>
<% end %>