<p id="notice"><%= notice %></p>

<h1>Works by <%= current_user.username %></h1>

<%= render partial: 'work_list', collection: @works, cached: true%>
<%= will_paginate @works %>
<br>

<%= link_to 'New Work', new_work_path %>
