<p id="notice"><%= notice %></p>

<p>
  <strong>Work summary:</strong>
  <%= @work.work_summary %>
</p>

<p>
  <strong>Is series:</strong>
  <%= @work.is_series %>
</p>

<p>
  <strong>Is complete:</strong>
  <%= @work.is_complete %>
</p>

<p>
  <strong>Series:</strong>
  <%= @work.series_id %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @work.collection_id %>
</p>

<p>
  <strong>Word count:</strong>
  <%= @work.word_count %>
</p>

<p>
  <strong>Total chapters:</strong>
  <%= @work.total_chapters %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
