<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Ourchive", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li>  <%= render 'devise/menu/login_items' %></li>
            <li><%= render 'devise/menu/registration_items' %></li>
          </ul>
        </nav>
      </div>
    </header>