<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :work_id %><br>
    <%= f.number_field :work_id %>
  </div>
  <div class="field">
    <%= f.label :subscribee_id %><br>
    <%= f.number_field :subscribee_id %>
  </div>
  <div class="field">
    <%= f.label :is_user_subscription %><br>
    <%= f.check_box :is_user_subscription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
