<p id="notice"><%= notice %></p>

<h1>Listing Chapters</h1>

<table>
  <thead>
    <tr>
      <th>Work</th>
      <th>Chapter summary</th>
      <th>Chapter number</th>
      <th>Body text</th>
      <th>Body audio</th>
      <th>Body image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.work_id %></td>
        <td><%= chapter.chapter_summary %></td>
        <td><%= chapter.chapter_number %></td>
        <td><%= chapter.body_text %></td>
        <td><%= chapter.body_audio %></td>
        <td><%= chapter.body_image %></td>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter', new_chapter_path %>
